.searchBox{
    position: relative;
    margin: 10px 10px;
    /* width: 80%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    


}
.searchBox svg{
    color: black;
    position: absolute;
    top: 7px;
    left: 5px;
    display: none;
}
.searchBox:hover > svg{
    display: block;
}
.searchBox .searchInput{
    width: 100%;
    height: 35px;
    border: 2px solid gray;
    outline: none;
    border-radius: 10px;
    padding-left: 30px;
    background-color: whitesmoke;
    color: black;
    font-size: large;
    font-weight: 300;
    font-family: sans-serif;
}
/* .searchBox .searchInput::placeholder{
    text-indent: 10px;
} */