.messageContainer{
    display: flex;
    margin: 10px;
    border: 2px solid lightgray;
    padding: 5px;
    background-color: ghostwhite;
    border-radius: 10px;
    
}

.messageContainer  .nameContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messageContainer   .displayName{color: black;
margin: 0px;
}
.messageContainer  .displayNumber{color: black;}